<rewrite>
  <rules>
    <!-- Don't interfere with node-inspector debugging -->
    <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
      <match url="^apps/api/dist/index.js\/debug[\/]?" />
    </rule>

    <!-- All requests are mapped to the Node.js API entry point -->
    <rule name="DynamicContent">
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
      </conditions>
      <action type="Rewrite" url="apps/api/dist/index.js" />
    </rule>
  </rules>
</rewrite></target_content>
  <replacement_content>  <system.webServer>
<!-- iisnode configuration -->
<iisnode 
  nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
  loggingEnabled="true"
  logDirectory="iisnode"
  debuggingEnabled="true"
  devErrorsEnabled="true"
  node_env="%node_env%"
/>

<handlers>
  <add name="iisnode" path="apps/api/dist/index.js" verb="*" modules="iisnode" />
</handlers>

<rewrite>
  <rules>
    <!-- Don't interfere with node-inspector debugging -->
    <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
      <match url="^apps/api/dist/index.js\/debug[\/]?" />
    </rule>

    <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
    <rule name="StaticContent" stopProcessing="true">
      <action type="Rewrite" url="public{REQUEST_URI}" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(api|auth)/" negate="true" />
      </conditions>
    </rule>

    <!-- All other URLs are mapped to the Node.js application entry point -->
    <rule name="DynamicContent">
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="apps/api/dist/index.js" />
    </rule>
  </rules>
</rewrite>

<!-- 'bin' directory has no special meaning in node.js and apps should not be able to access it -->
<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="bin" />
    </hiddenSegments>
  </requestFiltering>
</security></replacement_content>
</replacement_chunk>